.font-title{
    font-family: 'Montserrat', sans-serif!important;
}
.font-title:hover{
    color: #CA0629!important;
}
.nav-ul{
    display: flex!important;
    flex-direction: row!important;
    list-style-type: none!important;
}

.topnav-link{
    color: #CA0629!important;
    text-decoration: none;
}
